frontend/node_modules
client/node_modules
node_modules/*

backend/*/migrations/*
backend/accounts/migrations/*
backend/expenses/migrations/*

*/__init__.py
backend/db.sqlite3
backend/*/__pycache__/*
backend/__pycache__/

init.sql
.env
